<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<nav class="navbar">
   <div class="top">
        <div class="logo">
            <img src="../../assets/image/Sans titre.png" alt="titre" />
        </div>
        <div class="search">
            
                <p class="left">
                    Toutes catégories
                </p>
                <input class="center" type="text" placeholder="Recherche"/>
                <div class='icon-search'>
                   
                    <img src="../../assets/image/search1.svg" alt="titreicon" />
                   
                  
                </div>
           
        </div>
        <div class="icons">
            <div>
                <img src="../../assets/image/repaet.svg" alt="titreicon" /> 
            </div>   
            <div>
                <img src="../../assets/image/love.svg" alt="titreicon" />  
            </div>  
            <div>
                <img src="../../assets/image/test.svg" alt="titreicon" /> 
                <p class="testchiffre">2</p>
            </div>           
        </div>
       
    </div> 

    <div class="bottom">
        <div >Support de 9H / 19H du Lundi au samedi </div>
        <div >+33 4 78 68 66 62 Email: contact@fgmc.pro</div>
    </div>
</nav>

<section class="blocsection">
        <div class="cader">

            <img src="../../assets/image/zara.svg" alt="titreicon" /> 
   
          <div class="cursul">
                    <p class="prev"  ></p>
                    <div class="images">
                        <img src="../../assets/image/image1.svg" alt="icon"  class="handelimage"/> 
                        <img src="../../assets/image/image2.svg" alt="icon" class="handelimage" /> 
                        <img src="../../assets/image/image3.svg" alt="icon" class="handelimage" /> 
                    </div>
                    <p class="next"></p>
          </div>
        </div>
    <div class="cader2">
        <img src="../../assets/image/rating.svg" alt="icon"  /> 

        <div>
             <div style="font-size:x-large ; color: orange;" class="rating">
                <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                 
             </div>

            <h2 class="titre">ZAARA EUROPE 1201S</h2>
            <p class="paragraphe">Nouvelle machine à broder à tête unique avec 12aiguilles
                <br> Machine Haute-précision<br> Marketing Type: ZAARA EUROPE Nouveau produit 2022</p>
                      <div class="blocFiche">
                        <p class="fiche">fiche technique :</p> 
                        <img src="../../assets/image/vector.svg" alt="icon" class="vector" /> 
                        <p class="fiche">Manuel à telecharger :</p> 
                        <img src="../../assets/image/vector.svg" alt="icon" class="vector" /> 
                      </div>

                     <div class="list">
                        <p class="titreList">Groupe :</p>
                        <p class="titreList">Catégorie :</p>
                        <p class="titreList">Catégorie :</p>
                     </div>

                     <div class="blocInput">
                      
                        <input type="text" >
                        <img src="../../assets/image/verc.svg" alt="icon" class="verc" /> 
                        <input type="text" >
                        <img src="../../assets/image/verc.svg" alt="icon" class="verc2" /> 
                        <input type="text" >
                        <img src="../../assets/image/verc.svg" alt="icon" class="verc3" /> 
                    </div>

                      <div class="blocParagraphe">
                        <p class="price1">6 372,00 €</p>
                        <p class="price2">6 572,00 € TTC</p>

                       </div>
                      <div class="blocParagraphe">
                        <p class="price3">6 372,00 €</p>
                       </div>

                       <div class="icon8">
                        <img src="../../assets/image/icon8.svg" alt="icon"  /> 
                        <p class="titreIcon8">En stock</p>
                       </div>

                       <div class="blocButtom"> 
                      <input type="text" class="inputDach">
                      <p class="plus">+</p>
                      <p class="moin">-</p>
                  <button> + AJOUTER AU PANIER</button>
                       </div>

        </div >
       
   </div>
</section>
<section class="blocsection">
    <div class="cadersection2">
        <ul class="tabs">
         <button  class="btn1">  <img src="../../assets/image/icon9.svg " class="image1" alt="icon"  /> Description <img src="../../assets/image/x.svg" alt="icon" class="image2 "  /> </button>
         <button>Détail de produit <img src="../../assets/image/x.svg" alt="icon" class="image2"  /></button>
         <button>Commentaires <img src="../../assets/image/x.svg" alt="icon" class="image2"  /></button>
       
        </ul>
      <div class="contient">
        <div class="contientParagraphe">
           
            <p> Nouvelle machine à broder à tête unique avec 12aiguilles
              <br> Machine Haute-précision<p>
              <br/>
            <p>Marketing Type: ZAARA EUROPE</p><br>
    
            <p>  Nouveau produit 2022<br>
            N/Modèle : 1201S</p><br>
    
            <p> Ce type de machine est une utilisation polyvalente, telle que casquette,
             t-shirts, plat, vêtement, chaussettes, gants, vestes, manches, sacs et ainsi de suite.</p><br>
    
             <p class="caracteristique">Caractéristiques techniques:</p> <br>
    
             <p> - port d'entrée USB + RG45</p> <br>
    
              <p> - Système de maintien du fil supérieur inclus  Nouveau 2022 ( clampe )</p><br>
    
               <p>  - Condition: Neuve</p><br>
    
               <p>  - Taille de mémoire 2000000 points 500 motifs</p><br>
    
               <p>   - Électricité: 220V </p><br>
    
               <p> - Écran tactile HD Ture Collor de 8,26 po</p><br>
                   
 
         </div>
             <div class="partie2">
              <div class="zaraeuro">
                <img src="../../assets/image/zaraeuro.svg" alt="icon" class="image2"  />
              </div>
             </div>
      </div>
     
    </div>
   
</section>
  

<section>

   <div class="blocsection3">
    <div class="blocse3List">
      <div class="listIn">
       <ul>
       <p class="titreList">VOTRE COMPTE</p> 
   
       <li>Informations personnelles </li>
    <li>Commandes</li>
    <li>Avoirs</li>
    <li> Addresses</li>
    <li> Bons de réduction</li>
    <li>Mes alertes</li>
    </ul>
   </div>


   <div class="listIn">
    <ul>
    <p class="titreList">INFORMATIONS</p> 
   
    <li>Conditions </li>
    <li>Génerales de Vente</li>
    <li>Livraison</li>
    <li> Mentions <br>légales</li>
    <li> Nous contacter</li>
   
    </ul>
   </div>
<div class="listIn3">

   <div class="listIn">
     <ul>
       <p class="titreList">TÉMOIGNAGES</p> 
       <div class="liste2">
         <li><img src="../../assets/image/arafet.svg" alt="icon" class="arafet"  />
         <p class="name">Ben Zaara Arafet</p>
         <p class="role">Manager</p>
         </li>
         <br>
         <br>
         <li>
        <p>Bonjour,<br> merci pour votre visite et<br> toute l’équipe a votre <br>services<br> merci</p></li>
   
       </div>
     </ul>
     </div>
  </div>

   <div class="listIn">
    <ul>
      <p class="titreList">SUIVEZ NOUS</p> 
      <div class="liste2">
        <li><img src="../../assets/image/icon10.svg" alt="icon" class="arafet"  />
        <p class="paragrapheicon">France General Machines à coudre 13 chemin du génie 69200 Venissieux Lyon France</p>
       
        </li>
       
        <li><img src="../../assets/image/icon11.svg" alt="icon" class="arafet"  />
            <p class="paragrapheicon">Appelez-nous : 04 78 68 66 62</p>
           
            </li>

            <li><img src="../../assets/image/icon12.svg" alt="icon" class="arafet"  />
                <p class="paragrapheicon">Écriver-nous : contact@fgmc.pro</p>
               
                </li>
      </div>
    </ul>
  </div>
</div>

<div class="blocsabonneer">
    <div>
     <p class="INSCRIVEZ">INSCRIVEZ-VOUS À NOTRE NEWSLETTER :</p>
     <input type="text" class="SABONNER"/>
     <button class="bttonsabonner">S'ABONNER</button>
    </div>

     <div class="temp">
       <p class="tempparag">support de 9h/12h-14h/19h du lundi au vendredi</p>
       <p class="tempparag2">10h/12h-14h/18h Samedi</p>
     </div>
</div>
<p class="description">Vous pouvez vous désinscrire à tout moment. Vous trouverez pour cela nos informations de contact dans les conditions d'utilisation du site.</p>
<div class="blocFooter">
    <p class="paraghpheFooter">© 2016 France Général Machines à Coudre. All Rights Reserved.</p>
</div>
</div>
</section>
 

</body>
</html>